node-red-flow.json
[{"id":"52e43c25.828854","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad67b94e.7b9b98","type":"function","z":"52e43c25.828854","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\nvar apikey= \"jC9q7up4ja7twIo8FFIU54EW0s52lSzwUIq9mUt7rBgg\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":187.60000228881836,"y":241.8000030517578,"wires":[["f3211ddf.e88f5"]]},{"id":"b1ab72e3.b670c","type":"function","z":"52e43c25.828854","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"c38cb3c2-df50-4fcc-871d-e403c6559a98\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness  1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["7962a8b.3133658"]]},{"id":"f3211ddf.e88f5","type":"http request","z":"52e43c25.828854","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":160,"wires":[["b1ab72e3.b670c"]]},{"id":"7962a8b.3133658","type":"http request","z":"52e43c25.828854","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c38cb3c2-df50-4fcc-871d-e403c6559a98/deployments/a21df645-903f-448b-b0f7-99803d3e59fd/online","tls":"","persist":false,"proxy":"","authType":"basic","x":710,"y":160,"wires":[["d5cc4f0d.0129b"]]},{"id":"54313741.b8c358","type":"ui_form","z":"52e43c25.828854","name":"","label":"Predicting Life Expectancy","group":"2b01a8e7.6dbf78","order":2,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol consumption","value":"e","type":"number","required":true,"rows":null},{"label":"Expenditure percentage","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":60,"wires":[["ad67b94e.7b9b98"]]},{"id":"d5cc4f0d.0129b","type":"function","z":"52e43c25.828854","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":160,"wires":[["8bcc0604.62457","d1c0be9.4ecb6c"]]},{"id":"8bcc0604.62457","type":"ui_text","z":"52e43c25.828854","group":"2b01a8e7.6dbf78","order":2,"width":0,"height":0,"name":"Prediction","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":865,"y":340,"wires":[]},{"id":"d1c0be9.4ecb6c","type":"debug","z":"52e43c25.828854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695,"y":400,"wires":[]},{"id":"2b01a8e7.6dbf78","type":"ui_group","z":"","name":"Default","tab":"55a1e06e.6b6e7","order":1,"disp":true,"width":"6","collapse":false},{"id":"55a1e06e.6b6e7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]